
// Basic Colors
$white: white;

// Logo Combination Color
$primaryColor: #08413C;
$secondaryColor: #38A89D;

// Link Color
$linkColor: #24C790;

// Gradient Button Color
$btnFirstColor: #24C790;
$btnLastColor: #38A89D;

// Text Color
$textHeading: #36AA9C;

// Border Color
$lightBorder: rgba(17,181,228,0.25);
$border: #38AA9D;

// Form Fields
$inputBg: #ECFCF7;
$placeholder: rgba(8, 65, 60, .5);

// Brands
$fb: #1471CF;
$twi: #17BCFE;