// Basic Colors
$white: white;

// Logo Combination Color
$primaryColor: #08413c;
$secondaryColor: #38a89d;

// Link Color
$linkColor: #24c790;

// Gradient Button Color
$btnFirstColor: #24c790;
$btnLastColor: #38a89d;

// Text Color
$textHeading: #36aa9c;
$blogHeading: #064b44;

// Border Color
$lightBorder: rgba(17, 181, 228, 0.25);
$border: #38aa9d;

// Form Fields
$inputBg: #ecfcf7;
$placeholder: rgba(8, 65, 60, 0.5);

// Brands
$fb: #1471cf;
$twi: #17bcfe;
