#page-heading-new {
    position: relative;

    @media (max-width: 991px) {
        @include background('bg/about.svg', no-repeat, center top, cover);
        min-height: 140px;   
    }

    .page-info {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    p, p a {
        color: $secondaryColor;
    }

    > img {
        @media (max-width: 991px) {
            display: none;
        }
    }

    &.page-heading__section {
        @media(max-width: 991px) {
            min-height: 240px;
        }
    }
}

.page-heading-new {
    height: 100%;

    img {
        margin-bottom: -20px;

        @media (max-width: 991px) {
            max-width: 50%;
        }

        &.faq-image {

            @media (max-width: 991px) {
                max-width: 40%;
            }
        }

        &.contact-image {

            @media (max-width: 991px) {
                max-width: 30%;
            }
        }
    }
}

.breadcumb {
    margin-top: -20px;
    text-transform: uppercase;

    @media (max-width: 991px) {
        margin: 0;
    }
}

.text-primary {
    color: $primaryColor !important;
}

#story {
    margin: 120px 0;

    @media (max-width: 991px) {
        margin: 50px 0;
    }

    &.story__section {
        margin: 155px 0 120px;

        @media (max-width: 991px) {
            margin: 50px 0;
        }
    }

    h2 {

        @media (max-width: 991px) {
            margin-bottom: 30px;
        }
    }

    p {
        @include lightPrimaryText;
    }
}

#va {
    @include background('heading/va-bg.svg', no-repeat, center top, 100%);
    padding: 140px 0 190px;

    @media (max-width: 991px) {
        @include background('heading/va-bg.svg', no-repeat, center, cover);
        padding: 100px 0 50px;
    }

    .position-relative {
        z-index: 9;
    }

    &.va__section {
        background-size: cover;
    }
}

.va-content {
    background: white;
    @include boxShadow();
    padding: 60px;
    position: relative;

    @media (max-width: 991px) {
        padding: 24px 16px;
    }

    li {
        display: flex;
        align-items: start;
        margin-top: 30px;
        color: rgba(8, 65, 60, 0.75);

        img {
            margin-right: 16px;
        }

        p {
            max-width: 670px;
        }
    }

    h3 {
        color: #08413c;
    }

    &__avm {
        h3 {
            font-size: 32px;
            line-height: 42px !important;
        }

        > p {
            font-size: 16px;
            line-height: 1.63;
            color: rgba(8, 65, 60, 0.75);
        }

        &__button {
            margin-top: 40px;

            @media (max-width: 991px) {
                margin: 40px auto 0;
            }

            + p {
                font-size: 14px;
                font-weight: 500;
                margin-left: 30px;
                color: rgba(8, 65, 60, 0.75);

                @media (max-width: 991px) {
                    margin-left: 0;
                    text-align: center;
                }
            }
        }

        li {
            margin-top: 24px;
        }
    }
}

.va-img {
    position: absolute;
    right: 0;
    bottom: -45px;

    @media (max-width: 991px) {
        display: none;
    }
}

.lady-center {
    position: absolute;
    bottom: -190px;
    left: 55%;

    @media (max-width: 991px) {
        display: none;
    }
}

.lady-right {
    position: absolute;
    right: -100px;
    bottom: -190px;

    @media (max-width: 991px) {
        display: none;
    }
}

.tree-left {
    position: absolute;
    left: -120px;
    bottom: -190px;

    @media (max-width: 991px) {
        display: none;
    }
}

.tree-right {
    position: absolute;
    right: -90px;
    top: 160px;
    z-index: -1;

    @media (max-width: 991px) {
        display: none;
    }
}

#testimonial {
    @include background('bg/upsell-bottom.png', no-repeat, bottom, cover);
    padding-top: 120px;

    @media (max-width: 991px) {
        padding-top: 40px;
    }

    .row {
        @include background('bg/testimonial.svg', no-repeat, bottom, cover);
        padding: 30px;
        color: white;
        font-size: 20px;
        line-height: 30px;
        font-style: italic;
    }

    .col-md-4 {
        border-right: 1px solid rgba(255,255,255,.3);

        @media (max-width: 991px) {
            border-right: none;
            padding: 20px 0;
            border-bottom: 1px solid rgba(255,255,255,.3);
        }

        &:last-child {
            border: none;
        }
    }
}