/* start feature section */

.feature_post {
  &__section {
    padding: 150px 0 100px 0;

    @media (max-width: 768px) {
      padding: 150px 0 50px 0;
    }

    @media (max-width: 425px) {
      padding: 100px 0 50px 0;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #08413c;
    margin-bottom: 32px;

    @media (max-width: 425px) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__post {
    &__img {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
      }
    }

    &__category {
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      color: #38aa9d;
      display: block;
      margin: 16px 0 8px 0;
    }

    &__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 34px;
      text-decoration: none;
      color: $blogHeading;
      transition: 0.3s;

      &:hover {
        text-decoration: underline;
        color: $secondaryColor;
      }

      @media (max-width: 425px) {
        font-size: 20px;
        line-height: 20px;
      }
    }

    &__date {
      margin: 8px 0;

      a {
        font-size: 14px;
        line-height: 21px;
        color: #08413c;
        opacity: 0.5;
        padding-right: 16px;

        &:last-child {
          position: relative;
          padding-left: 16px;

          &::before {
            content: "";
            position: absolute;
            top: 56%;
            left: 0;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: rgba(28, 28, 28, 0.5);
          }
        }
      }
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: #08413c;
      opacity: 0.8;
    }

    .readMore {
      margin-top: 20px;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      line-height: 26px;
      color: #064b44;
      transition: 0.3s;

      &:hover {
        color: #38aa9d;

        svg {
          color: #38aa9d;
        }
      }

      svg {
        margin-left: 12px;
        color: #064b44;
      }

      @media (max-width: 425px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

/* close feature section */

/* start Recent post */
#recent_post {
  @include background("bg/upsell-bottom.png", no-repeat, bottom, 100%);
}

.recent_post {
  &__section {
    padding-top: 50px;
  }

  h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #08413c;
    margin-bottom: 32px;

    @media (max-width: 425px) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__post {
    &__img {
      width: 240px;
      height: 150px;

      @media (max-width: 768px) {
        width: 350px;
        height: 160px;
      }

      @media (max-width: 425px) {
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
      }
    }

    &__desc {
      margin-left: 40px;

      @media (max-width: 768px) {
        margin-left: 30px;
      }

      @media (max-width: 425px) {
        margin-left: 0;
      }

      &__category {
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #38aa9d;
        display: block;
        margin: 16px 0 8px 0;
      }
      &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        text-decoration: none;
        color: #064b44;
        transition: 0.3s;

        &:hover {
          text-decoration: underline;
          color: #34ad9a;
        }

        @media (max-width: 768px) {
          br {
            display: none;
          }
        }
        @media (max-width: 425px) {
          font-size: 16px;
          line-height: 20px;
        }
      }
      &__date {
        margin: 8px 0;

        a {
          font-size: 14px;
          line-height: 21px;
          color: #08413c;
          opacity: 0.5;
          padding-right: 16px;

          &:last-child {
            position: relative;
            padding-left: 16px;

            &::before {
              content: "";
              position: absolute;
              top: 56%;
              left: 0;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background: rgba(28, 28, 28, 0.5);
            }
          }
        }
      }
    }
  }

  /* recent_post Category List */
  &__category_list {
    h3 {
      font-weight: bold;
      font-size: 24px;
      line-height: 34px;
      color: #064b44;
      margin-bottom: 20px;

      @media (max-width: 425px) {
        font-size: 20px;
        line-height: 20px;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        a {
          font-size: 16px;
          line-height: 44px;
          color: #064b44;
          transition: 0.3s;

          &:hover {
            color: #34ad9a;
            opacity: 0.8;
          }
        }
      }
    }
  }
}
/* close Recent post */

/* start pagination area */

.pagination {
  .page-item:first-child,
  .page-item:last-child {
    .page-link {
      border: none;
      color: $blogHeading;

      //   &[disabled],
      //   &[disabled]:hover {
      //     color: #bcbcbc;
      //     pointer-events: none;
      //   }

      &:hover {
        background: white;
        // color: $blogHeading;
        color: #34ad9a;
      }
    }
  }

  .page-link {
    color: #bcbcbc;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    border: none;
    border-radius: 6px;
    margin: 0 6px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      background: #34ad9a;
      color: #ffffff;
      border: 1px solid #185bc3;
    }
  }

  .active {
    .page-link {
      border: 1px solid #185bc3;
      color: #ffffff !important;
      background: #34ad9a;
    }
  }
}
/* close pagination area */
