#faq-single,
#faq {
    @include background('bg/upsell-bottom.png', no-repeat, bottom, 100%);
}

.faq {
    padding-top: 120px;

    @media (max-width: 991px) {
        padding-top: 50px;
    }
}

.faq-about {
    border: 1px solid #F0F0F0;
    box-shadow: 0 2px 2px 0 rgba(11,36,62,0.08);
    border-radius: 4px;
    min-height: 230px;
    text-align: center;
    padding: 40px 30px 0 30px;
    display: block;

    img {
        margin-bottom: 30px;
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
    }
}

.back-btn {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $secondaryColor;
    max-width: 100px;

    svg {
        transform: rotate(90deg);
    }
}

.faq-single {
    .card {
        border: none;
        border-bottom: 1px solid #E8E8E8 !important;
        border-radius: 0;
        background: transparent;
        padding-bottom: 15px;
        margin-top: 30px;
    }

    .card-header {
        border: none;
        background: transparent;
        padding: 0;
        
        button {
            font-size: 16px;
            font-weight: 600;
            color: #002446;
            position: relative;
            padding-right: 20px;

            &[aria-expanded="false"] {

                img {
                    transform: rotate(270deg);
                }
            }

            &:hover,
            &:focus {
                text-decoration: none;
            }

            img {
                position: absolute;
                right: 0;
                top: 5px;
            }
        }

        span {
            font-size: 12px;
            display: block;
        }        
    }

    .card-body {
        font-size: 16px;
        line-height: 26px;
        color: #002446;
    }
}